/* to prevent the arrow overflow the popup container,
or the height is not enough when content is empty */
.numeric-input .ant-tooltip-inner {
    min-width: 32px;
    min-height: 37px;
}

.numeric-input .numeric-input-title {
    font-size: 14px;
}
